/*-------------------------------------------------------------------------
 * Autor: German Mendoza
 * correo: german.mendoza.187@gmail.com
 * Fecha de publicación: 14/01/2015
 * Version: 1.0
 * Copyright: German Mendoza, en caso de distribución colocar mis referencias
 * Descripcion: Colores para la página
 *
 *   DEPENDENCIAS
 *  - bootstrap.css
 *  - colors.less
 *
 *-------------------------------------------------------------------------*/
@import './less/color.less';
@import './less/mixins.less';

*{
font-family: 'Aller', sans-serif;

  margin: 0;
  padding: 0;

}


.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.no-border{
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: white;
    background-color: transparent;
}

.cpal-navbar-global{
    margin-bottom: 0px;
    border-bottom: 0px;
    border: 0px solid;
    box-shadow: none !important;
    background: transparent;
    width: 100%;
    position: absolute;
    z-index: 1000;
}


.cpal-banner{

    position: relative;

    img{
        width: 100%;
    }

    h1{
        font-family: 'Quicksand', sans-serif;
        color: white;
        font-size: 60px;
        text-align: center;
    }

    h2{
        font-family: 'Quicksand', sans-serif;
        color: white;
        font-size: 33px;
        font-weight: lighter;
        text-align: center;
        text-shadow: 0px 6px 8px black;

    }
}

.container-banner{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.g-img{
    img{
        width: 100%;
    }

}

.g-r-m{
    margin-bottom: 30px;
}

.g-c-m{
    font-family: 'Aller', sans-serif;
    h2{
        font-weight: bold;
        font-size: 25px;
        color: @green-two-font;
        margin-bottom: 5px;
        margin-top: 0px;

    }

    label{
        display: block;
        font-size: 17px;
        font-weight: bold;
    }

    p{
        font-size: 16px;
    }
}

.g-l-m{
    margin-top: 30px;
}

.g-border-line {
    margin-top: 20px;
    border-bottom: 1px solid;
    border-color: @green-two-font;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.g-p-one{
    font-family: 'AldusLTW01-Italic', sans-serif;
    color:  @green-two-font;
    font-size: 25px;
    text-align: center;
}

.g-p-two{
    font-family: 'Myriad Pro', sans-serif;
    color:  @p-two-font;
    font-size: 19px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.g-p-three{
    font-family: 'Aller Light', sans-serif;
    color:  black;
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    a{
        color:  @green-two-font;
    }
}

.g-h1-one{
    font-family: 'Aller Light', sans-serif;
    font-size: 35px;
    color: @gray-font;
    text-align: center;
    margin-top: 0px;
}

.g-h2-one{
    font-family: 'Aller Light', sans-serif;
    font-size: 30px;
    color: @green-two-font;
    text-align: center;
    margin-top: 10px;
}

.g-gray{
    background: @gray-light-bg;
    padding-top: 40px;
    padding-bottom: 40px;

}

.g-col-md-offset-2 {
    margin-left: 13%;
}

.g-col-md-2 {
    width: 18.6%;
}

.g-img-car{
    font-family: 'Aller Light', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;

    img{
        width: 100%;
        max-height: 270px;
    }

    p{
        margin-top: 10px;
        font-size: 20px;
        color: @gray-font;
        height: 40px;
        line-height: 20px;
        overflow: hidden;
    }

    label{
        margin-top: 10px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid;
        border-color: @green-two-font;
        font-weight: lighter;
        width: 100%;
        color: @gray-font;

    }
}

.g-gal-v{
    font-family: 'Aller', sans-serif;
    position: relative;
    min-height: 360px;
    .container-banner{
        left: 0%;
        transform: translate(0%, -50%);

    }
    div{
        h1{
            margin-top: 30px;
            margin-bottom: 5px;
            font-size: 40px;
            color: @gray-font;
        }

        h2{
            margin-top: 5px;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
            color: @gray-font;
        }

        p{
            text-align: justify;
            font-size: 15px;
            color: @p-two-font;
        }
    }



}

.carousel-control.left{
    background-image: none;
    width: 100px;
    text-align: right;
}

.carousel-control.right{
    background-image: none;
    width: 100px;
    text-align: left;
}

.g-a-left{
    background-image: url('./images/a-left.png');
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
}

.g-a-right{
    background-image: url('./images/a-right.png');
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
}

.container-logo{
    position: absolute;
    margin:auto;
    left:0;
    right:0;

    img {
        height: 45px;
    }
}

.g-menu-h-l{
        width: 55% !important;
    .logo{
        display: none;
    }
}

.g-nav-c{
    width: 100%;
    height: 60px !important;
    .container-banner{
        width: inherit;
    }
}

.g-menu-bar{

    padding-top: 20px;
    width: 67%;
    margin: auto;
    float: none;


    li{
        max-width: 130px;

        a{
            //font-family: 'Helvetica', sans-serif;
            font-family:'Arial Narrow', sans-serif;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 2px;
            padding-top: 2px;
            background: transparent;
            font-size: 15px;
            font-weight: bold;
            color: white;
            text-shadow: 0px 6px 8px black;
            //height: 50px;
            line-height: 36px;
            text-align: center;
            font-weight: lighter;
        }



        a.g-m-al-m {
            line-height: 18px
        }



        .dropdown-menu{
            border: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            margin-top: 2px;
            min-width: 0px;
            background: transparent;
            width: inherit;


            li{
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 0px;
                padding-right: 0px;
                padding-left: 0px;
                width: inherit;
                white-space: normal;
                line-height: 17px;
                width: inherit;
                max-width: none;




                a{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 0px;
                    padding-left: 0px;
                    text-align: center;
                    max-width: none;
                    color: white !important;
                    white-space: normal;
                    line-height: 20px;
                    width: inherit;
                    margin-left: 3px;
                    margin-right: 3px;
                    border-bottom: 1px solid;
                    border-color: white;

                }

                a:hover {
                    background-color: transparent !important;
                    background: transparent;
                }
            }

            li:first-child{


            }

            li:last-child{
                a{
                    border-bottom: 0px solid;
                }

            }
        }
    }

    li:hover {
        a{
            color: @green-menu-font !important;
        }
    }

    .select{

        a{
            color: @green-menu-font !important;

        }
        :hover {

            a{
               color: @green-menu-font !important;
            }


        }

    }

    .logo{

        max-width: 200px;

        a {
            border-bottom: 0px solid !important;
            img{
                height: 45px;
            }
        }


    }

    .logo:hover {
        border-bottom: 0px solid !important;

    }


    li.open{
        background: transparent;
        background-color: transparent;
        //border-bottom: 2px solid;
        //border-color: @orange-menu;

        a.dropdown-toggle{
            //background-color: rgba(255, 255, 255, 0.4) !important;
            background: transparent;
            background-color: transparent;
            .box-shadow(none);
        }

        a.dropdown-toggle:hover{
            text-decoration: none !important;
        }
        .dropdown-menu{
            li{
                background-color: rgba(255, 255, 255, 0.4) !important;
                a{
                    background-color: transparent !important;
                }
            }
        }
    }

}


.g-form-inline {

    float: left;

    .cpal-form-group {
        margin-top: 20px;
    }

    .g-submit{
        background-color: @gray-button-submit;
        color: @gray-bold-font;
        text-transform: uppercase;
        .border-radius(5px)
    }

    input{
        background: #e4e4e4;
        .border-radius(5px)

    }

}

.g-p-c{
    text-align: center;
    font-family: 'Aller Light', sans-serif;
    margin-bottom: 60px;
    color:  @p-two-font;
    font-size: 19px;

    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 150px;
        height: 28px;
        padding-left: 8px;
        overflow: hidden;
        .border-radius(5px);
        background: url('./images/a-down.png') 98% no-repeat #eee;
    }


}
.g-cnt-new{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: @green-two-font;
}

.g-news div:nth-child(n+4){
    .g-cnt-new{
        border-top: 0px solid;
    }
}

.col-md-offset-g{
    margin-left: 13%
}



.g-new-card{

    img{
        width: 100%;

    }

    h1{
        color: @green-two-font;
        font-size: 40px;
    }

    p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    a{
        padding: 8px;
        font-style: italic;
        color: @gray-font;
        font-size: 15px;
        img {
            width: 20px;
        }
    }
}

.g-aud-cnt{
    padding-right: 40px;
}

.g-aud{
    margin-bottom: 30px;
    border-bottom: 1px solid;
    border-color: @green-two-font;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    h1{
        margin-top: 5px;
        margin-bottom: 10px;
        color: @green-two-font;
        font-size: 30px;
    }
    label{
        font-weight: normal;
    }
    p{
        font-size: 18px;
    }
}

.g-aud-2{
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px solid;
    border-color: @green-two-font;
    li{
        display: inline;
        list-style: none;
    }
    p{
        font-size: 14px;

    }
}

.g-tag{
    padding: 4px;
    background: @green-two-font;
    color: white;
    font-size: 15px;
    float: right;
}

.g-padding{
    padding-top: 30px;
    padding-bottom: 30px;
}

.col-md-f{
    width: 33.333333%;

}

.g-fra{
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    img{
        width: 100%;
        max-height: 260px;
        z-index: -1;
    }
    a{
        font-size: 40px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

.g-pagination{
    text-align: center;
    ul{
        li{
            a{
                border: 0px solid;
            }
            a:hover{
                border: 0px solid;
                background-color: transparent;
            }
        }
    }

}


.cpal-footer{
    margin-top: 50px;
    text-align: center;
    background-color: transparent;

    .container{
        border-top: 1px solid;
        border-color: @green-two-font;
        padding-top: 40px;
    }

    label{
        text-align: justify;
    }

    p{
        margin-top: 10px;
        color: @gray-font;
        font-size: 13px;
        display: inline;
        font-weight: bold;
    }
}

.g-f-p{
        display: block !important;
        font-weight: normal !important;
    }

.g-f-l{
    margin-bottom: 30px;
}

.g-tp-ex{
    position: relative;
    min-height: 600px;

    h1{
        color:@green-two-font;
        text-align: center;
        font-weight: bold;
    }

    h2{
        color:@green-two-font;
        text-align: center;
        font-weight: bold;
    }

    .container-banner{
        left: 0%;
        transform: translate(0%, -50%);

    }
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

.g-align-r{

        display: block;
        text-align: right;
        margin-top: 40px;
        margin-right: 40px;


    }

    .g-align-r:hover{
        text-decoration: none;
    }


@media (max-width: 991px){

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .cpal-navbar-global {
        position: relative;
        background: #ddd;
    }
    .navbar-brand{
        img{
            position: absolute;
            top: 0;
        }

    }

    .navbar-collapse {
        background: #ddd;
    }

    .g-menu-bar{

        padding-top: 0px;
        width: 100% !important;

        .logo{
            display: none;
        }

        li{
            max-width: none;

            a{

                padding-bottom: 10px;
                padding-top: 10px;
                background: transparent;
                font-size: 20px;
                line-height: 25px;
            }



            a.g-m-al-m {
                line-height: 25px
            }
        }



        .logo{

            max-width: 200px;

            a {
                border-bottom: 0px solid !important;
                img{
                    height: 45px;
                }
            }

        }


        li.open{

            .dropdown-menu{
                li{

                    a{
                        line-height: 35px;

                    }
                }
            }
        }

    }

    .cpal-banner{

        position: relative;

        img{
            width: 100%;
        }

        h1{

            font-size: 20px;
        }

        h2{

            font-size: 15px;


        }
    }

    .container-banner{
        position:absolute;
        top: 40%;
        left: 38%;
        transform: translate(-26%, -50%);
    }

    .g-h1-one {
        font-size: 25px;
    }

    .g-p-one {
        font-size: 20px;
    }

    .g-p-two {

        font-size: 15px;
    }

    .g-p-three {
        font-size: 15px;

    }

    .g-border-line {
        margin-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .g-img-car img {
        max-height: none;
    }

    .g-col-md-2 {
        width: auto;
    }

    .g-col-md-offset-2 {
        margin-left: 0px;
    }

    .modalDialog {
        overflow: auto;
    }

    .g-tp-ex .container-banner {
        top:0%;
        left: 0%;
        transform: translate(0%, 0%);

        .g-p-two{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .carousel-control.left {

        top: 102%;
    }

    .carousel-control.right {

        top: 102%;
    }

    .g-a-left{
        left:52px;
    }

    .g-gray {

        padding-top: 20px;
        padding-bottom: 100px;
    }

    .g-fot-r{
        text-align: center;
    }

    .g-form-inline {
        float: none;
    }

    .g-cnt-new{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

    }

    .g-news div:nth-child(n+1){
        .g-cnt-new{
            border-top: 0px solid;
        }
    }
    .g-new-card{

        h1{

            font-size: 20px;
        }

        p{
            font-size: 14px;
        }

        a{

            font-size: 12px;

        }

        margin-bottom: 20px;
    }

    .g-p-c{
        margin-bottom: 30px;
        font-size: 14px;
    }

    .g-aud{
        margin-bottom: 20px;
        border-bottom: 1px solid;
        margin-left: 10px;
        margin-right: 10px;
        h1{
            font-size: 20px;
        }

        p{
            font-size: 14px;
        }
    }

    .g-aud-2{
        margin-top: 10px;
        margin-bottom: 10px;
        border-left: 1px solid;
        border-color: @green-two-font;
        li{
            display: inline;
            list-style: none;
        }
        p{
            font-size: 14px;

        }
    }

    .col-md-offset-g {
        margin-left: 0;
    }

    .col-md-f {
        width: 100%;
        img {
            max-height: none;
        }
    }

}

@media (max-width: 1200px) {



}

@media (min-width: 992px) and (max-width: 1199px) {



    .g-menu-bar{

        padding-top: 0px;
        width: 100% !important;

        li{


            a{


                font-size: 13px !important;
                line-height: 25px;
            }



            a.g-m-al-m {
                //line-height: 25px
            }
        }



        .logo{

            a {

                img{
                    height: 30px;
                }
            }

        }

    }

    .g-fra img {

        max-height: 212px;

    }

    .cpal-banner  {

        h1{
                font-size: 40px
        }

        h2{
            font-size: 24px;
        }

    }


}