/*-------------------------------------------------------------------------
 * Autor: German Mendoza
 * correo: german.mendoza.187@gmail.com
 * Fecha de publicación: 14/01/2015
 * Version: 1.0
 * Copyright: German Mendoza, en caso de distribución colocar mis referencias
 * Descripcion: Colores para la página
 *
 *   DEPENDENCIAS
 *  - bootstrap.css
 *  - colors.less
 *
 *-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
 * Autor: German Mendoza
 * correo: german.mendoza.187@gmail.com
 * Fecha de publicación: 02/02/2016
 * Version: 1.0
 * Copyright: German Mendoza, en caso de distribución colocar mis referencias
 * Descripcion: Funciones de crossbrowser
 *
 *-------------------------------------------------------------------------*/
* {
  font-family: 'Aller', sans-serif;
  margin: 0;
  padding: 0;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.no-border {
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: transparent;
}
.cpal-navbar-global {
  margin-bottom: 0px;
  border-bottom: 0px;
  border: 0px solid;
  box-shadow: none !important;
  background: transparent;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.cpal-banner {
  position: relative;
}
.cpal-banner img {
  width: 100%;
}
.cpal-banner h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
}
.cpal-banner h2 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 33px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 0px 6px 8px black;
}
.container-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-img img {
  width: 100%;
}
.g-r-m {
  margin-bottom: 30px;
}
.g-c-m {
  font-family: 'Aller', sans-serif;
}
.g-c-m h2 {
  font-weight: bold;
  font-size: 25px;
  color: #007a6d;
  margin-bottom: 5px;
  margin-top: 0px;
}
.g-c-m label {
  display: block;
  font-size: 17px;
  font-weight: bold;
}
.g-c-m p {
  font-size: 16px;
}
.g-l-m {
  margin-top: 30px;
}
.g-border-line {
  margin-top: 20px;
  border-bottom: 1px solid;
  border-color: #007a6d;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.g-p-one {
  font-family: 'AldusLTW01-Italic', sans-serif;
  color: #007a6d;
  font-size: 25px;
  text-align: center;
}
.g-p-two {
  font-family: 'Myriad Pro', sans-serif;
  color: #211915;
  font-size: 19px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}
.g-p-three {
  font-family: 'Aller Light', sans-serif;
  color: black;
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.g-p-three a {
  color: #007a6d;
}
.g-h1-one {
  font-family: 'Aller Light', sans-serif;
  font-size: 35px;
  color: #777777;
  text-align: center;
  margin-top: 0px;
}
.g-h2-one {
  font-family: 'Aller Light', sans-serif;
  font-size: 30px;
  color: #007a6d;
  text-align: center;
  margin-top: 10px;
}
.g-gray {
  background: #d9d9d9;
  padding-top: 40px;
  padding-bottom: 40px;
}
.g-col-md-offset-2 {
  margin-left: 13%;
}
.g-col-md-2 {
  width: 18.6%;
}
.g-img-car {
  font-family: 'Aller Light', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.g-img-car img {
  width: 100%;
  max-height: 270px;
}
.g-img-car p {
  margin-top: 10px;
  font-size: 20px;
  color: #777777;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}
.g-img-car label {
  margin-top: 10px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: #007a6d;
  font-weight: lighter;
  width: 100%;
  color: #777777;
}
.g-gal-v {
  font-family: 'Aller', sans-serif;
  position: relative;
  min-height: 360px;
}
.g-gal-v .container-banner {
  left: 0%;
  transform: translate(0%, -50%);
}
.g-gal-v div h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 40px;
  color: #777777;
}
.g-gal-v div h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
}
.g-gal-v div p {
  text-align: justify;
  font-size: 15px;
  color: #211915;
}
.carousel-control.left {
  background-image: none;
  width: 100px;
  text-align: right;
}
.carousel-control.right {
  background-image: none;
  width: 100px;
  text-align: left;
}
.g-a-left {
  background-image: url('images/a-left.png');
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
}
.g-a-right {
  background-image: url('images/a-right.png');
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
}
.container-logo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
.container-logo img {
  height: 45px;
}
.g-menu-h-l {
  width: 55% !important;
}
.g-menu-h-l .logo {
  display: none;
}
.g-nav-c {
  width: 100%;
  height: 60px !important;
}
.g-nav-c .container-banner {
  width: inherit;
}
.g-menu-bar {
  padding-top: 20px;
  width: 67%;
  margin: auto;
  float: none;
}
.g-menu-bar li {
  max-width: 130px;
}
.g-menu-bar li a {
  font-family: 'Arial Narrow', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 6px 8px black;
  line-height: 36px;
  text-align: center;
  font-weight: lighter;
}
.g-menu-bar li a.g-m-al-m {
  line-height: 18px;
}
.g-menu-bar li .dropdown-menu {
  border: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 2px;
  min-width: 0px;
  background: transparent;
  width: inherit;
}
.g-menu-bar li .dropdown-menu li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  white-space: normal;
  line-height: 17px;
  width: inherit;
  max-width: none;
}
.g-menu-bar li .dropdown-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  max-width: none;
  color: white !important;
  white-space: normal;
  line-height: 20px;
  width: inherit;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom: 1px solid;
  border-color: white;
}
.g-menu-bar li .dropdown-menu li a:hover {
  background-color: transparent !important;
  background: transparent;
}
.g-menu-bar li .dropdown-menu li:last-child a {
  border-bottom: 0px solid;
}
.g-menu-bar li:hover a {
  color: #3acdb1 !important;
}
.g-menu-bar .select a {
  color: #3acdb1 !important;
}
.g-menu-bar .select :hover a {
  color: #3acdb1 !important;
}
.g-menu-bar .logo {
  max-width: 200px;
}
.g-menu-bar .logo a {
  border-bottom: 0px solid !important;
}
.g-menu-bar .logo a img {
  height: 45px;
}
.g-menu-bar .logo:hover {
  border-bottom: 0px solid !important;
}
.g-menu-bar li.open {
  background: transparent;
  background-color: transparent;
}
.g-menu-bar li.open a.dropdown-toggle {
  background: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.g-menu-bar li.open a.dropdown-toggle:hover {
  text-decoration: none !important;
}
.g-menu-bar li.open .dropdown-menu li {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.g-menu-bar li.open .dropdown-menu li a {
  background-color: transparent !important;
}
.g-form-inline {
  float: left;
}
.g-form-inline .cpal-form-group {
  margin-top: 20px;
}
.g-form-inline .g-submit {
  background-color: #c4c4c4;
  color: #646464;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.g-form-inline input {
  background: #e4e4e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.g-p-c {
  text-align: center;
  font-family: 'Aller Light', sans-serif;
  margin-bottom: 60px;
  color: #211915;
  font-size: 19px;
}
.g-p-c select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 150px;
  height: 28px;
  padding-left: 8px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: url('images/a-down.png') 98% no-repeat #eeeeee;
}
.g-cnt-new {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #007a6d;
}
.g-news div:nth-child(n+4) .g-cnt-new {
  border-top: 0px solid;
}
.col-md-offset-g {
  margin-left: 13%;
}
.g-new-card img {
  width: 100%;
}
.g-new-card h1 {
  color: #007a6d;
  font-size: 40px;
}
.g-new-card p {
  font-size: 20px;
  margin-bottom: 20px;
}
.g-new-card a {
  padding: 8px;
  font-style: italic;
  color: #777777;
  font-size: 15px;
}
.g-new-card a img {
  width: 20px;
}
.g-aud-cnt {
  padding-right: 40px;
}
.g-aud {
  margin-bottom: 30px;
  border-bottom: 1px solid;
  border-color: #007a6d;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.g-aud h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #007a6d;
  font-size: 30px;
}
.g-aud label {
  font-weight: normal;
}
.g-aud p {
  font-size: 18px;
}
.g-aud-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 1px solid;
  border-color: #007a6d;
}
.g-aud-2 li {
  display: inline;
  list-style: none;
}
.g-aud-2 p {
  font-size: 14px;
}
.g-tag {
  padding: 4px;
  background: #007a6d;
  color: white;
  font-size: 15px;
  float: right;
}
.g-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.col-md-f {
  width: 33.333333%;
}
.g-fra {
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.g-fra img {
  width: 100%;
  max-height: 260px;
  z-index: -1;
}
.g-fra a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.g-pagination {
  text-align: center;
}
.g-pagination ul li a {
  border: 0px solid;
}
.g-pagination ul li a:hover {
  border: 0px solid;
  background-color: transparent;
}
.cpal-footer {
  margin-top: 50px;
  text-align: center;
  background-color: transparent;
}
.cpal-footer .container {
  border-top: 1px solid;
  border-color: #007a6d;
  padding-top: 40px;
}
.cpal-footer label {
  text-align: justify;
}
.cpal-footer p {
  margin-top: 10px;
  color: #777777;
  font-size: 13px;
  display: inline;
  font-weight: bold;
}
.g-f-p {
  display: block !important;
  font-weight: normal !important;
}
.g-f-l {
  margin-bottom: 30px;
}
.g-tp-ex {
  position: relative;
  min-height: 600px;
}
.g-tp-ex h1 {
  color: #007a6d;
  text-align: center;
  font-weight: bold;
}
.g-tp-ex h2 {
  color: #007a6d;
  text-align: center;
  font-weight: bold;
}
.g-tp-ex .container-banner {
  left: 0%;
  transform: translate(0%, -50%);
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
.g-align-r {
  display: block;
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;
}
.g-align-r:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .cpal-navbar-global {
    position: relative;
    background: #ddd;
  }
  .navbar-brand img {
    position: absolute;
    top: 0;
  }
  .navbar-collapse {
    background: #ddd;
  }
  .g-menu-bar {
    padding-top: 0px;
    width: 100% !important;
  }
  .g-menu-bar .logo {
    display: none;
  }
  .g-menu-bar li {
    max-width: none;
  }
  .g-menu-bar li a {
    padding-bottom: 10px;
    padding-top: 10px;
    background: transparent;
    font-size: 20px;
    line-height: 25px;
  }
  .g-menu-bar li a.g-m-al-m {
    line-height: 25px;
  }
  .g-menu-bar .logo {
    max-width: 200px;
  }
  .g-menu-bar .logo a {
    border-bottom: 0px solid !important;
  }
  .g-menu-bar .logo a img {
    height: 45px;
  }
  .g-menu-bar li.open .dropdown-menu li a {
    line-height: 35px;
  }
  .cpal-banner {
    position: relative;
  }
  .cpal-banner img {
    width: 100%;
  }
  .cpal-banner h1 {
    font-size: 20px;
  }
  .cpal-banner h2 {
    font-size: 15px;
  }
  .container-banner {
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-26%, -50%);
  }
  .g-h1-one {
    font-size: 25px;
  }
  .g-p-one {
    font-size: 20px;
  }
  .g-p-two {
    font-size: 15px;
  }
  .g-p-three {
    font-size: 15px;
  }
  .g-border-line {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .g-img-car img {
    max-height: none;
  }
  .g-col-md-2 {
    width: auto;
  }
  .g-col-md-offset-2 {
    margin-left: 0px;
  }
  .modalDialog {
    overflow: auto;
  }
  .g-tp-ex .container-banner {
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .g-tp-ex .container-banner .g-p-two {
    padding-left: 20px;
    padding-right: 20px;
  }
  .carousel-control.left {
    top: 102%;
  }
  .carousel-control.right {
    top: 102%;
  }
  .g-a-left {
    left: 52px;
  }
  .g-gray {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .g-fot-r {
    text-align: center;
  }
  .g-form-inline {
    float: none;
  }
  .g-cnt-new {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .g-news div:nth-child(n+1) .g-cnt-new {
    border-top: 0px solid;
  }
  .g-new-card {
    margin-bottom: 20px;
  }
  .g-new-card h1 {
    font-size: 20px;
  }
  .g-new-card p {
    font-size: 14px;
  }
  .g-new-card a {
    font-size: 12px;
  }
  .g-p-c {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .g-aud {
    margin-bottom: 20px;
    border-bottom: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
  }
  .g-aud h1 {
    font-size: 20px;
  }
  .g-aud p {
    font-size: 14px;
  }
  .g-aud-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px solid;
    border-color: #007a6d;
  }
  .g-aud-2 li {
    display: inline;
    list-style: none;
  }
  .g-aud-2 p {
    font-size: 14px;
  }
  .col-md-offset-g {
    margin-left: 0;
  }
  .col-md-f {
    width: 100%;
  }
  .col-md-f img {
    max-height: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .g-menu-bar {
    padding-top: 0px;
    width: 100% !important;
  }
  .g-menu-bar li a {
    font-size: 13px !important;
    line-height: 25px;
  }
  .g-menu-bar .logo a img {
    height: 30px;
  }
  .g-fra img {
    max-height: 212px;
  }
  .cpal-banner h1 {
    font-size: 40px;
  }
  .cpal-banner h2 {
    font-size: 24px;
  }
}
